In [1]:
import pandas as pd
data=pd.read_csv('heart1.csv')
data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
0,63,1,1,145,233,1,2,150,0,2.3,3,0,6,0
1,67,1,4,160,286,0,2,108,1,1.5,2,3,3,2
2,67,1,4,120,229,0,2,129,1,2.6,2,2,7,1
3,37,1,3,130,250,0,0,187,0,3.5,3,0,3,0
4,41,0,2,130,204,0,2,172,0,1.4,1,0,3,0

In [3]:
data['num'] = data['num'].replace([1, 2, 3, 4, 5, 6], 1)

In [4]:
def normalize(data, toNormalize): #normalizes 
    result = data.copy()
    for item in data.columns:
        if (item in toNormalize):
            max_value = data[item].max()
            min_value = data[item].min()
            result[item] = (data[item] - min_value) / (max_value - min_value)
    return result

In [5]:
toNormalize = ['age', 'cp', 'trestbps', 'chol', 'thalach', 'oldpeak']

for item in data: #converts everything to floats
    data[item] = pd.to_numeric(data[item])
    
normalized_data = normalize(data, toNormalize)

In [6]:
normalized_data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
0,0.708333,1,0.000000,0.481132,0.244292,1,2,0.603053,0,0.370968,3,0,6,0
1,0.791667,1,1.000000,0.622642,0.365297,0,2,0.282443,1,0.241935,2,3,3,1
2,0.791667,1,1.000000,0.245283,0.235160,0,2,0.442748,1,0.419355,2,2,7,1
3,0.166667,1,0.666667,0.339623,0.283105,0,0,0.885496,0,0.564516,3,0,3,0
4,0.250000,0,0.333333,0.339623,0.178082,0,2,0.770992,0,0.225806,1,0,3,0

In [7]:
X = normalized_data[["age","sex","cp","trestbps","chol","fbs","restecg","thalach","exang","oldpeak","slope","ca","thal"]]
y= normalized_data['num']
X.shape, y.shape
from sklearn import datasets, linear_model, model_selection, svm
#splitting dataset into train and test
X_train, X_test, y_train, y_test = model_selection.train_test_split(X, y, test_size=0.2)
print (X_train.shape, y_train.shape)
print (X_test.shape, y_test.shape)
# Import `StandardScaler` from `sklearn.preprocessing`
from sklearn.preprocessing import StandardScaler

# Define the scaler 
scaler = StandardScaler().fit(X_train)

# Scale the train set
X_train = scaler.transform(X_train)

# Scale the test set
X_test = scaler.transform(X_test)

(237, 13) (237,)
(60, 13) (60,)

In [8]:
import numpy as np
import keras
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Flatten
from keras.layers import Input
from keras.models import Model
#np.random.seed(7)

C:\Anaconda3\lib\site-packages\h5py\__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

In [9]:
model = Sequential()
model.add(Dense(12, input_shape=(13,), activation='relu'))
model.add(Dense(8, activation='relu'))
model.add(Dense(1, activation='sigmoid'))

In [10]:
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
# Fit the model
model.fit(X_train, y_train , epochs=20, batch_size=1, verbose=1)

Epoch 1/20
237/237 [==============================] - 1s 6ms/step - loss: 0.7480 - acc: 0.5401
Epoch 2/20
237/237 [==============================] - 1s 3ms/step - loss: 0.5879 - acc: 0.7300
Epoch 3/20
237/237 [==============================] - 0s 2ms/step - loss: 0.4529 - acc: 0.8228A: 0s - loss: 0.4616 - acc: 0.81
Epoch 4/20
237/237 [==============================] - 0s 2ms/step - loss: 0.3839 - acc: 0.8270
Epoch 5/20
237/237 [==============================] - 0s 2ms/step - loss: 0.3516 - acc: 0.8439
Epoch 6/20
237/237 [==============================] - 1s 2ms/step - loss: 0.3301 - acc: 0.8565
Epoch 7/20
237/237 [==============================] - 0s 2ms/step - loss: 0.3135 - acc: 0.8650
Epoch 8/20
237/237 [==============================] - 1s 2ms/step - loss: 0.3018 - acc: 0.8692
Epoch 9/20
237/237 [==============================] - 0s 2ms/step - loss: 0.2905 - acc: 0.8734
Epoch 10/20
237/237 [==============================] - 0s 2ms/step - loss: 0.2804 - acc: 0.8734
Epoch 11/20
237/237 [==============================] - 0s 2ms/step - loss: 0.2689 - acc: 0.8776
Epoch 12/20
237/237 [==============================] - 1s 2ms/step - loss: 0.2590 - acc: 0.8776
Epoch 13/20
237/237 [==============================] - 1s 2ms/step - loss: 0.2512 - acc: 0.8861
Epoch 14/20
237/237 [==============================] - 0s 2ms/step - loss: 0.2453 - acc: 0.8861
Epoch 15/20
237/237 [==============================] - 0s 2ms/step - loss: 0.2367 - acc: 0.8903
Epoch 16/20
237/237 [==============================] - 0s 1ms/step - loss: 0.2295 - acc: 0.8987
Epoch 17/20
237/237 [==============================] - 0s 2ms/step - loss: 0.2208 - acc: 0.9030
Epoch 18/20
237/237 [==============================] - 0s 2ms/step - loss: 0.2119 - acc: 0.9198
Epoch 19/20
237/237 [==============================] - 0s 2ms/step - loss: 0.2063 - acc: 0.9072
Epoch 20/20
237/237 [==============================] - 0s 2ms/step - loss: 0.1978 - acc: 0.9241

In [96]:
y_pred = model.predict(X_test)
print(y_pred.shape)
scores = model.evaluate(X_test, y_test)
print("\n%s: %.2f%%" % (model.metrics_names[1], scores[1]*100))

(60, 1)
60/60 [==============================] - 0s 223us/step

acc: 73.33%

In [93]:
score= model.evaluate(X_test, y_test, verbose=1)
print(score)

60/60 [==============================] - 0s 157us/step
[1.0317744175593058, 0.7333333412806193]